.input-container {
  width: clamp(300px, 50%, 600px);
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: space-between;
}
.input-container input,
.input-container button {
  min-height: 35px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0 4px 2px -2px rgb(175, 175, 175, 0.5);
}
.input-container input {
  width: 73%;
}
.input-container button {
  width: 25%;
  background-color: #ffe800;
  transition: all 0.3s ease;
}
.input-container button:hover {
  background-color: #fadd00;
  cursor: pointer;
}

.loading-text-container {
  position: absolute;
  /* bottom: -30; */
  width: 100%;
  text-align: center;
  color: rgb(0, 170, 0);
}
