.container {
    max-width: 600px;
    margin: 150px auto 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container {
    text-align: center;
  }
  
.contact-container h2 {
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
    padding-bottom: 10px;
  }  
  
  .form-label {
    font-weight: bold;
    color: #3c3c3c;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .btn-primary {
    background-color: #ffd700;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #cca600;
  }
  