/* ResturantsResults.css */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants-list {
  margin: 10px auto 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

@media only screen and (max-width: 1000px) {
  .restaurants-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 670px) {
  .restaurants-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 390px) {
  .restaurants-list {
    grid-template-columns: 1fr;
  }
  .results-container {
    width: 90%;
    margin: 0 auto;
  }
}
