*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hello body {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-size: clamp(40px, 4vw, 60px);
}
h2 {
  font-size: clamp(30px, 2.8vw, 44px);
}
h3 {
  font-size: clamp(24px, 2.5vw, 40px);
}
p,
a {
  font-size: clamp(15px, 2vw, 18px);
}
a {
  text-decoration: none;
  color: inherit;
}
