/* index.css */
/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general/ all */
body {
  background-color: rgb(241, 241, 241);
  min-height: 101vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  gap: 40px;
}
#root {
  width: 100%;
}
::-webkit-scrollbar {
  width: clamp(8px, 1vw, 15px);
}
::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.4);
}

/* text/ font */
h1 {
  font-size: clamp(40px, 4vw, 60px);
}
h2 {
  font-size: clamp(30px, 2.8vw, 44px);
}
h3 {
  font-size: clamp(24px, 2.5vw, 40px);
}
p,
a {
  font-size: clamp(15px, 2vw, 18px);
}
a {
  text-decoration: none;
  color: inherit;
}
