/* Nav.css */
.nav-container {
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 40px;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: auto;
}
.nav-title {
  margin: 0px 0px 0px 20px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #ffd700;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links li:last-child {
  margin-right: 0;
}

/* media queries */
@media only screen and (max-width: 700px) {
  .nav-container {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-links {
    flex-direction: column;
    height: 96px;
    justify-content: space-around;
    gap: 0;
  }
  .nav-container {
    padding: 10px;
  }
}
